@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Arvo:400,700|Droid+Serif:400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* line 5, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-ms-viewport {
  width: device-width;
}
/* line 14, ../bower_components/bootstrap/scss/bootstrap-grid.scss */
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

/* line 19, ../bower_components/bootstrap/scss/bootstrap-grid.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 6, ../bower_components/bootstrap/scss/_grid.scss */
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  /* line 6, ../bower_components/bootstrap/scss/_grid.scss */
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  /* line 6, ../bower_components/bootstrap/scss/_grid.scss */
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  /* line 6, ../bower_components/bootstrap/scss/_grid.scss */
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  /* line 6, ../bower_components/bootstrap/scss/_grid.scss */
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 576px) {
  /* line 6, ../bower_components/bootstrap/scss/_grid.scss */
  .container {
    width: 540px;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  /* line 6, ../bower_components/bootstrap/scss/_grid.scss */
  .container {
    width: 720px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 6, ../bower_components/bootstrap/scss/_grid.scss */
  .container {
    width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 6, ../bower_components/bootstrap/scss/_grid.scss */
  .container {
    width: 1140px;
    max-width: 100%;
  }
}

/* line 18, ../bower_components/bootstrap/scss/_grid.scss */
.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  /* line 18, ../bower_components/bootstrap/scss/_grid.scss */
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  /* line 18, ../bower_components/bootstrap/scss/_grid.scss */
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  /* line 18, ../bower_components/bootstrap/scss/_grid.scss */
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  /* line 18, ../bower_components/bootstrap/scss/_grid.scss */
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* line 28, ../bower_components/bootstrap/scss/_grid.scss */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 576px) {
  /* line 28, ../bower_components/bootstrap/scss/_grid.scss */
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 768px) {
  /* line 28, ../bower_components/bootstrap/scss/_grid.scss */
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 992px) {
  /* line 28, ../bower_components/bootstrap/scss/_grid.scss */
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 1200px) {
  /* line 28, ../bower_components/bootstrap/scss/_grid.scss */
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

/* line 34, ../bower_components/bootstrap/scss/_grid.scss */
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
/* line 38, ../bower_components/bootstrap/scss/_grid.scss */
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* line 8, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  /* line 8, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  /* line 8, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  /* line 8, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  /* line 8, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* line 31, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

/* line 36, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.col-auto {
  flex: 0 0 auto;
  width: auto;
}

/* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

/* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

/* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

/* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

/* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

/* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

/* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

/* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

/* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

/* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

/* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

/* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.pull-0 {
  right: auto;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.pull-1 {
  right: 8.33333%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.pull-2 {
  right: 16.66667%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.pull-3 {
  right: 25%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.pull-4 {
  right: 33.33333%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.pull-5 {
  right: 41.66667%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.pull-6 {
  right: 50%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.pull-7 {
  right: 58.33333%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.pull-8 {
  right: 66.66667%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.pull-9 {
  right: 75%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.pull-10 {
  right: 83.33333%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.pull-11 {
  right: 91.66667%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.pull-12 {
  right: 100%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.push-0 {
  left: auto;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.push-1 {
  left: 8.33333%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.push-2 {
  left: 16.66667%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.push-3 {
  left: 25%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.push-4 {
  left: 33.33333%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.push-5 {
  left: 41.66667%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.push-6 {
  left: 50%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.push-7 {
  left: 58.33333%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.push-8 {
  left: 66.66667%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.push-9 {
  left: 75%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.push-10 {
  left: 83.33333%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.push-11 {
  left: 91.66667%;
}

/* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.push-12 {
  left: 100%;
}

/* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.offset-1 {
  margin-left: 8.33333%;
}

/* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.offset-2 {
  margin-left: 16.66667%;
}

/* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.offset-3 {
  margin-left: 25%;
}

/* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.offset-4 {
  margin-left: 33.33333%;
}

/* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.offset-5 {
  margin-left: 41.66667%;
}

/* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.offset-6 {
  margin-left: 50%;
}

/* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.offset-7 {
  margin-left: 58.33333%;
}

/* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.offset-8 {
  margin-left: 66.66667%;
}

/* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.offset-9 {
  margin-left: 75%;
}

/* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.offset-10 {
  margin-left: 83.33333%;
}

/* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
.offset-11 {
  margin-left: 91.66667%;
}

@media (min-width: 576px) {
  /* line 31, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  /* line 36, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-sm-0 {
    right: auto;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-sm-1 {
    right: 8.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-sm-2 {
    right: 16.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-sm-3 {
    right: 25%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-sm-4 {
    right: 33.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-sm-5 {
    right: 41.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-sm-6 {
    right: 50%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-sm-7 {
    right: 58.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-sm-8 {
    right: 66.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-sm-9 {
    right: 75%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-sm-10 {
    right: 83.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-sm-11 {
    right: 91.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-sm-12 {
    right: 100%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-sm-0 {
    left: auto;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-sm-1 {
    left: 8.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-sm-2 {
    left: 16.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-sm-3 {
    left: 25%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-sm-4 {
    left: 33.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-sm-5 {
    left: 41.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-sm-6 {
    left: 50%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-sm-7 {
    left: 58.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-sm-8 {
    left: 66.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-sm-9 {
    left: 75%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-sm-10 {
    left: 83.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-sm-11 {
    left: 91.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-sm-12 {
    left: 100%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-0 {
    margin-left: 0%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-1 {
    margin-left: 8.33333%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-2 {
    margin-left: 16.66667%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-3 {
    margin-left: 25%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-4 {
    margin-left: 33.33333%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-5 {
    margin-left: 41.66667%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-6 {
    margin-left: 50%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-7 {
    margin-left: 58.33333%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-8 {
    margin-left: 66.66667%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-9 {
    margin-left: 75%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-10 {
    margin-left: 83.33333%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  /* line 31, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  /* line 36, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-md-0 {
    right: auto;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-md-1 {
    right: 8.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-md-2 {
    right: 16.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-md-3 {
    right: 25%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-md-4 {
    right: 33.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-md-5 {
    right: 41.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-md-6 {
    right: 50%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-md-7 {
    right: 58.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-md-8 {
    right: 66.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-md-9 {
    right: 75%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-md-10 {
    right: 83.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-md-11 {
    right: 91.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-md-12 {
    right: 100%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-md-0 {
    left: auto;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-md-1 {
    left: 8.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-md-2 {
    left: 16.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-md-3 {
    left: 25%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-md-4 {
    left: 33.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-md-5 {
    left: 41.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-md-6 {
    left: 50%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-md-7 {
    left: 58.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-md-8 {
    left: 66.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-md-9 {
    left: 75%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-md-10 {
    left: 83.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-md-11 {
    left: 91.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-md-12 {
    left: 100%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-0 {
    margin-left: 0%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-1 {
    margin-left: 8.33333%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-2 {
    margin-left: 16.66667%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-3 {
    margin-left: 25%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-4 {
    margin-left: 33.33333%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-5 {
    margin-left: 41.66667%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-6 {
    margin-left: 50%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-7 {
    margin-left: 58.33333%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-8 {
    margin-left: 66.66667%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-9 {
    margin-left: 75%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-10 {
    margin-left: 83.33333%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  /* line 31, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  /* line 36, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-lg-0 {
    right: auto;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-lg-1 {
    right: 8.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-lg-2 {
    right: 16.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-lg-3 {
    right: 25%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-lg-4 {
    right: 33.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-lg-5 {
    right: 41.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-lg-6 {
    right: 50%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-lg-7 {
    right: 58.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-lg-8 {
    right: 66.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-lg-9 {
    right: 75%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-lg-10 {
    right: 83.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-lg-11 {
    right: 91.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-lg-12 {
    right: 100%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-lg-0 {
    left: auto;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-lg-1 {
    left: 8.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-lg-2 {
    left: 16.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-lg-3 {
    left: 25%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-lg-4 {
    left: 33.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-lg-5 {
    left: 41.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-lg-6 {
    left: 50%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-lg-7 {
    left: 58.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-lg-8 {
    left: 66.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-lg-9 {
    left: 75%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-lg-10 {
    left: 83.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-lg-11 {
    left: 91.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-lg-12 {
    left: 100%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-0 {
    margin-left: 0%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-1 {
    margin-left: 8.33333%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-2 {
    margin-left: 16.66667%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-3 {
    margin-left: 25%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-4 {
    margin-left: 33.33333%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-5 {
    margin-left: 41.66667%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-6 {
    margin-left: 50%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-7 {
    margin-left: 58.33333%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-8 {
    margin-left: 66.66667%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-9 {
    margin-left: 75%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-10 {
    margin-left: 83.33333%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  /* line 31, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  /* line 36, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  /* line 42, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-xl-0 {
    right: auto;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-xl-1 {
    right: 8.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-xl-2 {
    right: 16.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-xl-3 {
    right: 25%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-xl-4 {
    right: 33.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-xl-5 {
    right: 41.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-xl-6 {
    right: 50%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-xl-7 {
    right: 58.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-xl-8 {
    right: 66.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-xl-9 {
    right: 75%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-xl-10 {
    right: 83.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-xl-11 {
    right: 91.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .pull-xl-12 {
    right: 100%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-xl-0 {
    left: auto;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-xl-1 {
    left: 8.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-xl-2 {
    left: 16.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-xl-3 {
    left: 25%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-xl-4 {
    left: 33.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-xl-5 {
    left: 41.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-xl-6 {
    left: 50%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-xl-7 {
    left: 58.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-xl-8 {
    left: 66.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-xl-9 {
    left: 75%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-xl-10 {
    left: 83.33333%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-xl-11 {
    left: 91.66667%;
  }

  /* line 49, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .push-xl-12 {
    left: 100%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-0 {
    margin-left: 0%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-1 {
    margin-left: 8.33333%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-2 {
    margin-left: 16.66667%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-3 {
    margin-left: 25%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-4 {
    margin-left: 33.33333%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-5 {
    margin-left: 41.66667%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-6 {
    margin-left: 50%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-7 {
    margin-left: 58.33333%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-8 {
    margin-left: 66.66667%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-9 {
    margin-left: 75%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-10 {
    margin-left: 83.33333%;
  }

  /* line 58, ../bower_components/bootstrap/scss/mixins/_grid-framework.scss */
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
/* line 5, ../sass/_text.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

/* line 13, ../sass/_text.scss */
h1, .h1 {
  font-size: 2.5rem;
}

/* line 14, ../sass/_text.scss */
h2, .h2 {
  font-size: 2rem;
}

/* line 15, ../sass/_text.scss */
h3, .h3 {
  font-size: 1.75rem;
}

/* line 16, ../sass/_text.scss */
h4, .h4 {
  font-size: 1.5rem;
}

/* line 17, ../sass/_text.scss */
h5, .h5 {
  font-size: 1.25rem;
}

/* line 18, ../sass/_text.scss */
h6, .h6 {
  font-size: 1rem;
}

/* line 20, ../sass/_text.scss */
p {
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}

/* line 27, ../sass/_text.scss */
a {
  text-decoration: none;
  color: #F9B634;
}

/* line 32, ../sass/_text.scss */
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

/* line 41, ../sass/_text.scss */
small,
.small {
  font-size: 80%;
  font-weight: normal;
}

/* line 47, ../sass/_text.scss */
mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

/* line 57, ../sass/_text.scss */
.color-suva {
  color: #505050;
}

/* line 60, ../sass/_text.scss */
.color-husk {
  color: #B19A51;
}

/* line 2, ../sass/_custom.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 6, ../sass/_custom.scss */
body {
  font-family: 'Droid Serif', serif;
  font-family: 'Arvo', serif;
}

/* line 11, ../sass/_custom.scss */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
/* line 15, ../sass/_custom.scss */
.row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* line 25, ../sass/_custom.scss */
header.header {
  position: fixed;
  top: 150px;
  left: 0;
  width: 100%;
  height: 200px;
  line-height: 200px;
  z-index: 1;
}

/* line 34, ../sass/_custom.scss */
header.fixed {
  position: fixed;
  top: 0;
  background: #FFF;
}

/* line 41, ../sass/_custom.scss */
section.main-cover {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  background-color: #1E1E1E;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/bg-work2.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

/* line 60, ../sass/_custom.scss */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* line 68, ../sass/_custom.scss */
.video-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.8);
  background-image: url(../img/bg-pt.png);
}

/* line 89, ../sass/_custom.scss */
video#bgvid {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/bg-work2.jpg) no-repeat;
  background-size: cover;
}

/* line 105, ../sass/_custom.scss */
section.content {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 1000px;
  width: 100%;
  color: #EEF3F7;
  z-index: 1;
  background: #fff;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.28), 0 2px 6px rgba(0, 0, 0, 0.28);
}

/* line 117, ../sass/_custom.scss */
footer {
  position: fixed;
  bottom: -300px;
  width: 100%;
  height: 100px;
  background: #1E1E1E;
  z-index: -1;
}
/* line 125, ../sass/_custom.scss */
footer .f-wrap {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 20px 0;
  line-height: 60px;
}

/* line 134, ../sass/_custom.scss */
.section-title {
  color: #1E1E1E;
}

/* line 137, ../sass/_custom.scss */
a.h-logo {
  font-size: 24px;
  color: #34B46A;
}

/* line 142, ../sass/_custom.scss */
ul.nav-list {
  float: right;
}
/* line 144, ../sass/_custom.scss */
ul.nav-list > li {
  display: inline-block;
}
/* line 146, ../sass/_custom.scss */
ul.nav-list > li a {
  font-size: 22px;
  border-bottom: 2px solid transparent;
}
/* line 150, ../sass/_custom.scss */
ul.nav-list > li a:hover {
  border-color: #000;
}

/* line 156, ../sass/_custom.scss */
.slash {
  height: 2px;
  width: 18px;
  margin-top: -8px;
  background: #000;
  transform: rotate(90deg);
}

/* line 164, ../sass/_custom.scss */
.text-center {
  text-align: center;
}

/* line 167, ../sass/_custom.scss */
.text-left {
  text-align: left;
}

/* line 170, ../sass/_custom.scss */
.text-right {
  text-align: right;
}

/* line 177, ../sass/_custom.scss */
.welcom-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  text-align: center;
  max-width: 1170px;
}

/* line 185, ../sass/_custom.scss */
.into-text {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  color: #fff;
  font-size: 8rem;
  font-weight: 400;
}
/* line 190, ../sass/_custom.scss */
.into-text span {
  color: #F9B634;
  font-size: inherit;
  font-weight: inherit;
}

/* line 195, ../sass/_custom.scss */
ul.i-link-list {
  margin-top: 35px;
  float: left;
}
/* line 199, ../sass/_custom.scss */
ul.i-link-list > li {
  display: inline-block;
}
/* line 202, ../sass/_custom.scss */
ul.i-link-list > li a {
  font-size: 21px;
  color: #B19A51;
  margin-right: 20px;
  transition: all 0.2s ease-in-out;
}
/* line 207, ../sass/_custom.scss */
ul.i-link-list > li a:hover {
  color: rgba(177, 154, 81, 0.4);
}

/* line 215, ../sass/_custom.scss */
.p-box {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  cursor: pointer;
  outline: 0px;
  border: 8px solid transparent;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
/* line 229, ../sass/_custom.scss */
.p-box:hover .p-cover {
  filter: blur(8px);
}
/* line 232, ../sass/_custom.scss */
.p-box:hover .info-overlay {
  background: rgba(9, 124, 243, 0.8);
}
/* line 235, ../sass/_custom.scss */
.p-box:hover .p-info {
  transform: scale(1);
  opacity: 1;
}
/* line 239, ../sass/_custom.scss */
.p-box:hover .p-title {
  color: #F7FAFB;
  margin-top: 0;
  margin-left: 0;
}
/* line 244, ../sass/_custom.scss */
.p-box:hover .p-description {
  color: #EEF3F7;
  bottom: 20px;
  left: 20px;
}
/* line 249, ../sass/_custom.scss */
.p-box:hover .p-full-screan {
  left: 10px;
  bottom: 5px;
}
/* line 253, ../sass/_custom.scss */
.p-box:hover .p-explore {
  right: 10px;
  bottom: 5px;
}

/* line 258, ../sass/_custom.scss */
.p-cover-box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 266, ../sass/_custom.scss */
.p-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

/* line 273, ../sass/_custom.scss */
.info-overlay {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}

/* line 289, ../sass/_custom.scss */
.p-info {
  width: 100%;
  text-align: center;
  transform: scale(3);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

/* line 296, ../sass/_custom.scss */
.p-title {
  color: #385063;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

/* line 304, ../sass/_custom.scss */
.p-full-screan {
  position: absolute;
  left: -30px;
  bottom: -35px;
  transition: all 0.3s ease-in-out;
}

/* line 310, ../sass/_custom.scss */
.p-explore {
  position: absolute;
  right: -30px;
  bottom: -35px;
  transition: all 0.3s ease-in-out;
}

/* line 316, ../sass/_custom.scss */
.p-seperetor {
  width: 100%;
  height: 1px;
  background: #000;
  margin-top: 130px;
  margin-bottom: 90px;
}

/* line 323, ../sass/_custom.scss */
.round-chart {
  width: 120px;
  height: 120px;
  border: 1px solid #097cf3;
  border-radius: 50%;
  margin: 30px auto;
}

/* line 332, ../sass/_custom.scss */
.modal-wrap {
  transition-timing-function: cubic-bezier(1, 0, 1, 0);
  transition-delay: .5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
}
/* line 344, ../sass/_custom.scss */
.modal-wrap.open {
  transition-delay: 0s;
  opacity: 1;
  z-index: 400;
}
/* line 350, ../sass/_custom.scss */
.modal-wrap .container {
  height: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}

/* line 356, ../sass/_custom.scss */
.open-modal {
  overflow: hidden;
}

/* line 359, ../sass/_custom.scss */
a#close {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* line 365, ../sass/_custom.scss */
div.modal-social-row {
  position: absolute;
  bottom: 200px;
}
/* line 369, ../sass/_custom.scss */
div.modal-social-row ul.social-list {
  float: right;
}
/* line 372, ../sass/_custom.scss */
div.modal-social-row ul.social-list > li a {
  color: #fff;
}

/* line 377, ../sass/_custom.scss */
ul.modal-list {
  float: right;
}
/* line 380, ../sass/_custom.scss */
ul.modal-list > li {
  margin-bottom: 10px;
}
/* line 383, ../sass/_custom.scss */
ul.modal-list > li a {
  color: #EEF3F7;
  font-size: 50px;
}

/* line 390, ../sass/_custom.scss */
.about-us-text,
.more-links,
.social-list {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
/* line 396, ../sass/_custom.scss */
.about-us-text.show,
.more-links.show,
.social-list.show {
  opacity: 1;
}

/* line 401, ../sass/_custom.scss */
.decolines {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}
/* line 410, ../sass/_custom.scss */
.decolines--fixed {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

/* line 417, ../sass/_custom.scss */
.decoline {
  position: absolute;
}

/* line 423, ../sass/_custom.scss */
.menu-hamb {
  position: fixed;
  width: 40px;
  height: 40px;
  background: transparent;
  outline: 0;
  border: 0;
  top: 30px;
  right: 40px;
  cursor: pointer;
  z-index: 999;
}
/* line 435, ../sass/_custom.scss */
.menu-hamb__inner {
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  margin: 6px 0;
}

/* line 446, ../sass/_custom.scss */
.hamb-bg__item {
  position: fixed;
  top: 19px;
  right: 29px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: rgba(39, 38, 38, 0);
  transform: scale(0);
  z-index: 99;
}

/* line 461, ../sass/_custom.scss */
#scroll-animate {
  overflow: hidden;
}

/* line 464, ../sass/_custom.scss */
#scroll-animate-main {
  width: 100%;
  left: 0;
  position: fixed;
}

/* line 469, ../sass/_custom.scss */
#heightPage,
#heightScroll {
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

/* line 476, ../sass/_custom.scss */
#heightPage {
  left: 0;
}

/* line 479, ../sass/_custom.scss */
#heightScroll {
  right: 0;
}

/* line 482, ../sass/_custom.scss */
.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* line 487, ../sass/_custom.scss */
section.main-cover,
footer.footer,
#scroll-animate-main {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
