
::-webkit-scrollbar {
    display: none;
}

body {
  font-family: 'Droid Serif', serif;
  font-family: 'Arvo', serif;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > {
    [class^="col-"], [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}



// header
header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgba($b, .6);
  z-index: 500;
}

a.h-logo {
  display: block;
  line-height: 30px;
  font-size: 24px;
  padding: 35px;
}
.navbar {
  float: right;

  > li {
      float: right;
      height: 100px;
      border-bottom: 0px solid $tr;
      @include tr(.2);
      &:hover {
        border-bottom: 5px solid $supernova;
      }

      a {
        display: block;
        line-height: 30px;
        font-size: 22px;
        padding: 35px;
        color: $w100;
        opacity: .85;
        @include tr(.2);
        &:hover {
          opacity: 1;
          border-color: $b;
        }
      }
  }
}

section.main-cover {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  color: $w;
  text-align: center;
  background-color: $proximaDark;
  background:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/bg-work2.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($proximaDark, .8);
      background-image: url(../img/bg-pt.png);
    }
}
video#bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/bg-work2.jpg) no-repeat;
    background-size: cover;
}
section.content {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 1000px;
  width: 100%;
  color: $bg;
  z-index: 1;
  background: #fff;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: $proximaDark;
  z-index: 1;

  .f-wrap {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 20px 0;
    line-height: 60px;
  }
}

.section-title {
  color: $proximaDark;
}

.slash{
  height: 2px;
  width: 18px;
  margin-top: -8px;
  background: #000;
  transform:rotate(90deg);
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
// cover
// section.main-cover {
//   height: 100vh;
// }
.welcom-box {
  text-align: left;;
  max-width: 1170px;
  padding-top: 20rem;
  height: 50rem;
}
.into-text {
  @include custom-text($w, 5.8rem, 400);
  margin-bottom: 50px;
  span {
      @include custom-text($supernova);
  }
}

ul.i-link-list {
  margin-top: 35px;
  float: left;

  > li  {
    display: inline-block;

    a {
      font-size: 21px;
      color: $husk;
      margin-right: 20px;
      @include tr(.2);
      &:hover {
        color: rgba($husk, .4);
      }
    }
  }
}


.p-box {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  cursor: pointer;
  outline: 0px;
  border: 8px solid $tr;
  @include tr(.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

  &:hover {
    // border: 15px solid $w;
  }
  &:hover .p-cover {
    filter: blur(8px);
  }
  &:hover .info-overlay {
    background: rgba($blue, .8);
  }
  &:hover .p-info {
    transform: scale(1);
    opacity: 1;
  }
  &:hover .p-title {
    color: $aliceBlue;
    margin-top: 0;
    margin-left: 0;
  }
  &:hover .p-description {
    color: $bg;
    bottom: 20px;
    left: 20px;
  }
  &:hover .p-full-screan {
    left: 10px;
    bottom: 5px;
  }
  &:hover .p-explore {
    right: 10px;
    bottom: 5px;
  }
}
.p-cover-box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.p-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  @include tr(.3);
}
.info-overlay {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 99;
  @include tr(.3);
}
.p-info {
  width: 100%;
  text-align: center;
  transform: scale(3);
  opacity: 0;
  @include tr(.3);
}
.p-title {
  color: $cello;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
  @include tr(.3);
}
.p-full-screan {
  position: absolute;
  left: -30px;
  bottom: -35px;
  @include tr(.3);
}
.p-explore {
  position: absolute;
  right: -30px;
  bottom: -35px;
  @include tr(.3);
}
.p-seperetor {
  width: 100%;
  height: 1px;
  background: #000;
  margin-top: 130px;
  margin-bottom: 90px;
}
.round-chart {
  width: 120px;
  height: 120px;
  border: 1px solid $blue;
  border-radius: 50%;
  margin: 30px auto;
}

// modal styles
.modal-wrap {
  transition-timing-function: cubic-bezier(1,0,1,0);
  transition-delay: .5s;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: $blue;
  z-index: -1;
  opacity: 0;
  &.open {
    transition-delay: 0s;
    opacity: 1;
    z-index: 400;
  }

  .container {
    height: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.open-modal {
  overflow: hidden;
}
a#close {
  position: absolute;
  top: 15px;
  right: 15px;
}

div.modal-social-row {
  position: absolute;
  bottom: 200px;

  ul.social-list {
    float: right;

    > li a {
      color: $w;
    }
  }
}
ul.modal-list {
  float: right;

  > li {
    margin-bottom: 10px;

    a {
      color: $bg;
      font-size: 50px;
    }
  }
}

.about-us-text,
.more-links,
.social-list {
  opacity: 0;
  @include tr(.3);

  &.show {
    opacity: 1;
  }
}
// lines
.decolines {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  z-index: -1;
	pointer-events: none;
    &--fixed {
  	position: fixed;
  	width: 100vw;
  	height: 100vh;
  }
}

.decoline {
	position: absolute;
}


// hamburger
.menu-hamb {
  position: fixed;
  width: 40px;
  height: 40px;
  background: $tr;
  outline: 0;
  border: 0;
  top: 30px;
  right: 40px;
  cursor: pointer;
  z-index: 999;

  &__inner {
    display: block;
    width: 30px;
    height: 2px;
    background: $w;
    margin: 6px 0;
  }
}

.hamb-bg {

  &__item {
    position: fixed;
    top: 19px;
    right: 29px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    // box-shadow: 0 2px 4px rgba($b, .28);
    background: rgba($nero, 0);
    transform: scale(0);
    z-index: 99;
  }
}
